/* === CSS RESET === */
* {
  padding: 0;
  border: 0;
  margin: 0;
}
/* === END RESET === */

body {
  background-color: red;
}
#top_nav {
  margin-left: auto;
  margin-right: auto;
  padding: 1rem 1rem;
  width: 100%;
}

#header {
  background-color: yellow;
  height: 400px;
}

#main {
  background-color: black;
  height: 900px;
}

#about {
  background-color: orange;
  height: 500px;
}

#contact {
  background-color: white;
  height: 500px;
}

#footer {
  background-color: gray;
  height: 200px;
}

/* **** parallax css **** */

/*.parallax {
  height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
  -webkit-perspective: 1px;
  perspective: 1px;
}

.parallax__layer {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.parallax__layer--base {
  -webkit-transform: translateZ(0);
  transform: translateZ(0);  
  bakcground-color: yellow;
}

.parallax__layer--back {
  -webkit-transform: translateZ(-1px);
  transform: translateZ(-1px);
  /*height: 80%;*/
  background-color: green;
}

* {
  margin:0;
  padding:0;
}

body {
  font: 100% / 1.5 Arial;
  /*background-color: red;*/
}

.parallax {
  font-size: 200%;
  background-color: black;
}

 /* add some padding to force scrollbars */
.parallax__layer {
  padding: 100vh 0;
}

 /* centre the content in the parallax layers */
.title {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}*/