/* === CSS RESET === */
* {
  padding: 0px;
  border: 0px;
  margin: 0px;
}
/* === END RESET === */

.inline-block {
  display: inline-block;
}

#top_nav {
  margin-left: auto;
  margin-right: auto;
  padding: 1rem 1rem;
  width: 100%;
}
  
  #top_nav #myBrand {
    width: 30rem;
  }

#wrapper {
  padding: 0px;
}

#header {
  background-color: aqua;
  height: 400px;
}

#main {  
  background-color: black;
  height: 960px;
  color: yellow;
}
  #main * {
    margin: 0px;
  }

#about {
  background-color: orange;
  height: 500px;
}

#contact {
  background-color: white;
  height: 500px;
}

#footer {
  background-color: gray;
  height: 200px;
}